.featured-section{
    background-image: url('../../../assets/home/featured.jpg');
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 20px;
}